@tailwind base;
@tailwind components;
@tailwind utilities;



html {

}
body {
  @apply text-[15px] relative
}

code {
  @apply font-maple
}

.nextra-nav-container-blur {
  @apply !shadow-none
}

.home-hero {
  min-height: calc(100vh - 0rem);
}

.padding-h-24 {
  padding-left: max(env(safe-area-inset-left), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1.5rem);
}
